name: "Run tests"

on:
  push:
    branches: [ master, main ]
  pull_request:
    branches: [ master, main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Setup uv
      uses: astral-sh/setup-uv@v7
      with:
        enable-cache: true
        python-version: 3.12.3

    - name: Install dependencies
      run: |
        uv sync --dev

    - name: Test with pytest
      run: |
        uv run pytest -v